form.login {
	display: table;
	width: 18em;
	margin: auto;
}

form.login div {
	display: table-row;
}

form.login span {
	display: table-cell;
	padding: .75ex 0;
}

form.login span * {
	width: 100%;
}

form.login div:last-child {
	display: table-caption;
	caption-side: bottom;
	text-align: right;
}

footer {
	font-size: smaller;
	text-align: center;
	margin-top: 5ex;
}

h1 {
	text-align: center;
}
